
UnittestenTime/nbproject/private/private.xml
/UnittestenTime/dist/
UnittestenTime/nbproject/private/private.properties

UnittestenTime/build/built-jar.properties

UnittestenTime/nbproject/private/private.xml
UnittestenTime/nbproject/private/private.properties
/AEXBanner2/nbproject/private/
/AEXBanner2/build/
/AEXBanner2/dist/
/Week7_AEXBanner/nbproject/private/
/AEXBanner_Finished/AEXBanner_Finished/nbproject/private/
/AEXBanner_Finished/AEXBanner_Finished/dist/
/AEXBanner_Finished/AEXBanner_Finished/build/